
table {
  width: 50%;
  margin: 0 auto;
}
mat-paginator{
  width: 50%;
  margin: 0 auto;
}
th {
  text-align: center;
}
.addNew1{
  width: 50%;
  margin: 0 auto;
}
h1{
  text-align: center;
  margin-top: 5rem;
}

