mat-paginator {
  background-color: rgb(60, 178, 60);
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  height: 100%;
}
.login {

  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
}

.ancho {

  width: 80%;
}

.button{
  background-color: #4AAB1D;
  height: 50px;
}
