mat-paginator {
    background-color: rgb(60, 178, 60);
}
.mat-card {
    background-color: rgb(60, 178, 60);
    max-width: 350px;
    margin:  40px 90px;
}
.main-card{
    height: 60rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    margin: 0 auto;
}
img {
    height: 300px;
    background-size: cover;
}
